name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v15
        with:
          name: devenv

      - name: Run Forge fmt
        run: nix develop -c forge fmt --check

      - name: Run Forge build
        run: nix develop -c forge build --sizes

      - name: Run Forge tests
        run: nix develop -c forge test -vvv
